@using MVCKutuphanesi.Models.Entity
@model List<TBLYAZAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container mt-3">
    <h3>YAZARLAR</h3>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>AD</th>
                <th>SOYAD</th>
                <th>DETAY</th>
                <th>SİL</th>
                <th>GÜNCELLE</th>
                <th>İNCELE</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var y in Model)
            {
                <tr>
                    <td>@y.ID</td>
                    <td>@y.AD</td>
                    <td>@y.SOYAD</td>
                    <td>@y.DETAY</td>
                    <td>
                        <a href="/Yazar/YazarSil/@y.ID" class="btn btn-danger btn-sm" onclick="return confirm('Silmek İstiyor musun?')">SİL</a>
                    </td>
                    <td>
                        <a href="/Yazar/YazarGetir/@y.ID" class="btn btn-success btn-sm">GÜNCELLE</a>
                    </td>
                    <td>
                        <a href="/Yazar/YazarKitaplar/@y.ID" class="btn btn-success btn-sm">DETAY</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a href="/Yazar/YazarEkle" class="btn btn-primary">Yeni Yazar Ekle</a>
</div>
